<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>   
<session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">master</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/product</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.default_catalog">product</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        
      <!--   <property name="hbm2ddl.auto">create</property> -->
        <mapping class="com.example.login.entity.Student"/> 
        <mapping class="com.example.login.entity.Position"/>
        <mapping class="com.example.login.entity.Project"/>
        <mapping class="com.example.login.entity.Task"/>
        <mapping class="com.example.login.entity.Product"/>
        <mapping class="com.example.login.entity.Month"/>
        <mapping class="com.example.login.entity.Report"/>
        
    </session-factory>
</hibernate-configuration>
